//- include banner.pug
section.banner 
    .banner__contanier 
        .banner__wrapper 
            .banner__txt-block
                h2.banner__heading Вигідний кредит завжди поруч
                a.banner__link Завантажити додаток
            .banner__img-block 
                img(src="images/banner_img.png", alt="phone")

