//- include features.pug

section.features 
    .features__contanier 
        .features__wrapper 
            h2.features__heading Переваги
            .features__list 
                .features__card.card
                    .card__icon(style="background: url(build/images/features_1.svg) no-repeat 50%, radial-gradient(100% 100% at 100% 100%, #FF8900 0%, #FFAD4F 100%);")
                    .card__text 
                        h3.card__heading 5-7 хвилин
                        p.card__description Схвалимо вашу заявку протягом 5-7 хвилин без дзвінків
                .features__card.card
                    .card__icon(style="background: url(build/images/features_2.svg) no-repeat 50%, radial-gradient(100% 100% at 100% 100%, #3894EF 0%, #8AC5FF 100%);")
                    .card__text 
                        h3.card__heading 15 000 грн
                        p.card__description Видаємо гроші до 15 000 гривень онлайн 24/7
                .features__card.card
                    .card__icon(style="background: url(build/images/features_3.svg) no-repeat 50%, radial-gradient(100% 100% at 100% 100%, #69D62C 0%, #89E754 100%);")
                    .card__text 
                        h3.card__heading На картку
                        p.card__description Зарахуємо гроші на будь-яку банківську картку
