section.hero 
    .hero__contanier 
        .hero__wrapper
            .hero__txt-block
                h1.hero__heading Миттєвий кредит у твоєму смартфоні
                p.hero__description До 15 000 грн
                p.hero__description До 30 днів
                a.hero__link Завантажити додаток
            .hero__img-block 
                img(src="images/hero_up.png", alt="phones")
                img(src="images/hero_down.png", alt="background")