//- include reviews.pug
section.reviews
    .reviews__contanier 
        h2.reviews__heading Відгуки
        .reviews__swiper.swiper
            .reviews__wrapper.swiper-wrapper
                .reviews__cards.reviewcard.swiper-slide
                    h3.reviewcard__name Мар’яна, 21
                    p.reviewcard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus scelerisque pretium at ut accumsan fringilla. Mattis turpis fringilla aliquam rutrum bibendum hac nec pellentesque.
                .reviews__cards.reviewcard.swiper-slide 
                    h3.reviewcard__name Олександр, 33
                    p.reviewcard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus scelerisque pretium at ut accumsan fringilla. Mattis turpis fringilla aliquam rutrum bibendum hac.
                .reviews__cards.reviewcard.swiper-slide 
                    h3.reviewcard__name Андрій, 26
                    p.reviewcard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus scelerisque pretium at ut accumsan fringilla. Mattis turpis fringilla aliquam rutrum bibendum hac nec pellentesque.
                .reviews__cards.reviewcard.swiper-slide 
                    h3.reviewcard__name Олександр, 33
                    p.reviewcard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus scelerisque pretium at ut accumsan fringilla. Mattis turpis fringilla aliquam rutrum bibendum hac.
                .reviews__cards.reviewcard.swiper-slide 
                    h3.reviewcard__name Андрій, 26
                    p.reviewcard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus scelerisque pretium at ut accumsan fringilla. Mattis turpis fringilla aliquam rutrum bibendum hac nec pellentesque.
            .reviews__pagination.swiper-pagination
            .reviews__button.reviews__button_prev.swiper-button-prev
            .reviews__button.reviews__button_next.swiper-button-next

                    

