@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Regular.woff');
    font-weight: 500; 
    font-style: normal; 
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Bold.woff');
    font-weight: 700; 
    font-style: normal; 
}