.hero {

    &__contanier {
        max-width: 970px;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    &__txt-block {

        max-width: 450px;

        & h1 {
            margin-top: 81px;
            margin-bottom: 32px;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 150%;
            color: $dark;
        }

        & p {
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: $ligth;

            &:last-child {
                margin-bottom: 65px;
            }
        }

        & a {
            padding: 18px 24px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: $white;
            background-color: $dark;
            border-radius: 10px;

            &::before {
                content: url('../images/google_play.svg');
                margin-right: 16px;
                vertical-align: top;
            }
        }
    }

    &__img-block {
        flex-flow: 1;
        position: relative;

        & img {
            width: 100%;
            
            &:first-child {
                width: 130%;
                position: absolute;
                top: 9%;
                right: -15%;
                z-index: 1;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .hero {

        &__contanier {
            max-width: 970px;
            margin: 0 auto;
        }
    
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;
        }
    
        &__txt-block {
            max-width: 450px;
            margin-bottom: 100px;
    
            & h1 {
                margin-top: 81px;
                margin-bottom: 32px;
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 150%;
                color: $dark;
            }
    
            & p {
                margin-bottom: 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 150%;
                color: $ligth;
    
                &:last-child {
                    margin-bottom: 65px;
                }
            }
    
            & a {
                padding: 18px 24px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: $white;
                background-color: $dark;
                border-radius: 10px;
    
                &::before {
                    content: url('../images/google_play.svg');
                    margin-right: 16px;
                    vertical-align: top;
                }
            }
        }
    
        &__img-block {
            max-width: fit-content;
            position: relative;
    
            & img {
                width: 100%;
                
                &:first-child {
                    width: 130%;
                    position: absolute;
                    top: 9%;
                    right: -15%;
                    z-index: 1;
                }
            }
        }
    }      
}