.hero {

    &__contanier {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__txt-block {

        max-width: 450px;

        & h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 150%;
            color: $dark;
        }

        & p {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: $ligth;
        }
    }
}