.hero {

    &__contanier {
        max-width: 970px;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__txt-block {

        max-width: 450px;

        & h1 {
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 150%;
            color: $dark;
        }

        & p {
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: $ligth;
        }

        & a {
            margin-top: 30px;
            padding: 16px 25px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: $white;
            background-color: $dark;
            border-radius: 10px;

            &::before {
                content: url('../images/google_play.svg');
                margin-right: 16px;
                vertical-align: top;
            }
        }
    }

    &__img-block {
        position: relative;
        // background: url('../images/hero_down.png') no-repeat;

        & img {
            
            &:first-child {
                position: absolute;
                top: 8%;
                right: -15%;
                z-index: 1;
            }

            &:last-child {
            
            }
        }
    }
}