.reviews {

    &__contanier {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 150px;
    }

    &__heading {
        margin-left: 20px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: $dark;
    }

    &__swiper {
        box-sizing: border-box;
        padding: 20px;
    }

    &__wrapper {
        height: 240px;
    }

    &__pagination {
        bottom: -40px;
    }

}


.swiper-button-next {

    &::after {
        content: url('../images/arrow_next.svg');
    }
}
.swiper-button-prev {

    &::after {
        content: url('../images/arrow_prev.svg');
    }
}

.reviewcard {
    box-sizing: border-box;
    height: 226px;
    padding: 30px 40px;
    box-shadow: 0px 5px 20px rgba(18, 59, 107, 0.15);
    border-radius: 20px;

    &__name {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $black;
    }

    &__description {
        max-width: 410px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $ligth;
        text-overflow: ellipsis;
    }

}