.reviews {

    &__contanier {
        max-width: 970px;
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: $dark;
    }

    &__wrapper {
        height: 400px;
    }
}

.reviewcard {
    padding: 30px 40px;
    box-shadow: 0px 5px 30px rgba(18, 59, 107, 0.15);
    border-radius: 20px;

    &__name {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $black;
    }

    &__description {
        max-width: 410px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $ligth;
        text-overflow: ellipsis;
    }

}