.reviews {
    margin-bottom: 262px;

    &__contanier {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 150px;
    }

    &__heading {
        margin-left: 15px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: $dark;
    }

    &__swiper {
        box-sizing: border-box;
        padding: 15px;
    }

    &__wrapper {
        height: auto;
    }

    &__control {
        position: relative;
    }

}
// изменение стандартных настроек swiper
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -20px;
    left: 0px;
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: $gray;
    border-radius: 2px;
    opacity: 1;

    &-active {
        background-color: $active;
    }
}

.swiper-button-next {

    &::after {
        position: absolute;
        top: -300%;
        right: -70px;
        content: url('../images/arrow_next.svg');
    }
}
.swiper-button-prev {

    &::after {
        position: absolute;
        top: -300%;
        left: -70px;
        content: url('../images/arrow_prev.svg');
    }
}

.reviewcard {
    box-sizing: border-box;
    min-height: 226px;
    padding: 30px 40px;
    box-shadow: 0px 5px 16px rgba(18, 59, 107, 0.15);
    border-radius: 20px;

    &__name {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $black;
    }

    &__description {
        max-width: 410px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $ligth;
        text-overflow: ellipsis;
    }

}

@media screen and (max-width: 1190px) {
    .reviews {
        
        margin-bottom: 100px;
    }
    .swiper-button-next {

        &::after {
            position: absolute;
            top: 0;
            right: 0px;
            content: url('../images/arrow_next.svg');
        }
    }
    .swiper-button-prev {
    
        &::after {
            position: absolute;
            top: 0;
            left: 0px;
            content: url('../images/arrow_prev.svg');
        }
    }
}

@media screen and (max-width: 560px) {
    .reviews {
        
        margin-bottom: 100px;

        &__contanier {
            margin: 0 5px;
            margin-bottom: 50px;
        }
    
        &__heading {
            margin-left: 15px;
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 150%;
            color: $dark;
        }
    
        &__swiper {
            box-sizing: border-box;
            padding: 15px;
        }
    
        &__wrapper {
            height: auto;
        }
    
        &__control {
            position: relative;
        }
    
    }
    // изменение стандартных настроек swiper
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -20px;
        left: 0px;
        width: 100%;
    }
    
    .swiper-pagination-bullet {
        background-color: $gray;
        border-radius: 2px;
        opacity: 1;
    
        &-active {
            background-color: $active;
        }
    }
    
    .swiper-button-prev, .swiper-button-next {
        display: none;

    }
    
    .reviewcard {
        min-height: 290px;
        padding: 30px 30px;
    }
}
