//- include common/footer.pug
footer.footer 
    .footer__contanier  
        .footer__txt 
            p «АВЕНТУС УКРАЇНА» ЄДРПОУ 41078230. 03062, м. Київ, проспект Перемоги, 90-А Свідоцтво про реєстрацію Фінансової установи серія ФК №870 від 28.02.2017 Ліцензія № 756 НКФП від 28.03.2017 Ліцензія № 1860 НКФП від 24.09.2019
            